<div class="container">
    <div class="row">
        <!-- <h1 class="mt-5">lancamento-conta works!</h1> -->
        <div class="col-lg-12 text-center mt-5">
            <div class="row">
                <div class="card">
                    <div class="card-header text-left">
                        Lista de Lançamentos
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Data do lançamento</th>
                                <th scope="col">Descrição</th>
                                <th scope="col">Número</th>
                                <th scope="col">Situação</th>
                                <th scope="col">Data de confirmação</th>
                                <th scope="col">Dados bancários</th>
                                <th scope="col">Valor final</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of lancamentos">
                                <td>{{item.dataLancamentoContaCorrenteCliente}}</td>
                                <td>{{item.lancamentoContaCorrenteCliente.nomeTipoOperacao}}</td>
                                <td>{{item.lancamentoContaCorrenteCliente.numeroRemessaBanco}}</td>
                                <td>{{item.lancamentoContaCorrenteCliente.nomeSituacaoRemessa}}</td>
                                <td>{{item.dataEfetivaLancamento}}</td>
                                <td>
                                    {{item.nomeBanco}} 
                                    Ag {{item.lancamentoContaCorrenteCliente.dadosDomicilioBancario.numeroAgencia}} 
                                    CC {{item.lancamentoContaCorrenteCliente.dadosDomicilioBancario.numeroContaCorrente}}
                                </td>
                                <td>R$ {{item.valorLancamentoRemessa}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="card">
                    <div class="card-header text-left">
                        Gráfico de Lançamentos (Data de confirmação versus Valor final)
                    </div>
                    <div class="card-body">
                        <x-chartist [type]="type" [data]="data" [options]="options" [events]="events"></x-chartist>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>