<div class="container">
    <div class="row">
        <!-- <h1 class="mt-5">lancamento-conta works!</h1> -->
        <div class="col-lg-12 mt-5 text-left">
            <h2>Objetivo: </h2>
            <ol class="list-group list-group-numbered">
                <li> Transformar a informação (json) de um sistema legado em um serviço/API a ser exposto e consumido por um site/mobile</li>
                <li> Consumir este serviço em uma aplicação Angular. Ferramentas sugeridas: AngularJS ou Angular 2+, HTML5, CSS 3, Bootsrap Node.js</li>
                <li>  Utilizar biblioteca para desenho de gráfico como Chartist ou alguma outra que esteja familiarizado</li>
                <li>  Desenvolver um teste automatizado (apenas um cenário) de forma integrada será um diferencial (ex: Cucumber/Gherkin)</li>
                <li> Escrever documentação sobre o projeto </li>
            </ol>
        </div>
    </div>
</div>
